// Variables
$link: #9bbbdc;
$dot: #ffa500;
$text: #dddddd;
$background: #1e1e1e;

$l-background: #ffffff;
$l-text: #222222;
$l-link: #881280;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

// Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="light"] {
    --link: #881280;
    --text: #222222;
    --background: #ffffff;
    --select-bg: #fafafa;
    --select-border: #c8c8c8;
}

html {
    --link: #5db0d7;
    --text: #dddddd;
    --background: #1e1e1e;
    --select-bg: #262626;
    --select-border: #4c4c4c;
}

body {
    background: var(--background);
    font-family: 'Inter', sans-serif;
    transition: all .25s ease-in-out;
    p {
        color: var(--text);
        font-weight: 650;
        font-size: 1rem;
        letter-spacing: -0.018em;
    }
}

.app {
    transition: all .4s ease-in-out;
    width: 100%;
    @media (min-width: 991px) {
        width: 90%;
    }
    @media (min-width: 1290px) {
        width: 65%;
    }
    > .row > .columns {
        padding: 6rem 2rem 2rem;
        @media (min-width: 768px) {
            padding: 7rem 2rem;
        }
        &.info {
            .fixed {
                @media (min-width: 750px) {
                    position: fixed;
                }
            }
            .theme {
                display: none;
                @media (min-width: 750px) {
                    display: block;
                    position: fixed;
                    bottom: 6rem;
                    width: inherit;
                }
                p {
                    font-weight: 300;
                }
            }
            a {
                display: block;
            }
        }
    }
}

h1, h2, h3, h4 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;
    margin-bottom: 4rem;
    color: var(--text);
    font-weight: 700;
}

a,
p,
span,
ul {
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
}

a {
    color: var(--link);
    &:not(.description-link) {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: $dot;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            top: 50%;
            transform: translateY(-36%);
            left: -20px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-out;
        }
        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.project {
    display: block;
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    .row {
        width: 100%;
        overflow-y: auto;
    }
    .column {
        float: left;
        box-sizing: border-box;
        &.left {
            padding: 0 2rem 0 0;
            p, a {
                font-weight: 700;
            }
            @media (min-width: 700px) {
                width: 24%;
            }
            @media (min-width: 1650px) {
                width: 18.3333333333%;
            }
        }
        &.right {
            padding: 0 2rem 0 0;
            p {
                font-weight: 400;
                letter-spacing: -0.004em;
                font-size: 15px;
                @media screen and (max-width: 700px) {
                    margin-bottom: 2.5rem;
                }
            }
            @media (min-width: 700px) {
                width: 40.0%;
            }
        }
    }
    
    p, a {
        font-size: 16px;
        @media (min-width: 700px) {
            margin-bottom: 1.1rem;
        }
    }
    a {
        padding-right: 16px;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzIiIGhlaWdodD0iMzIiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgaWQ9Im9yaWdpbmFsLWljb24iIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik05Ni43NSwyNi44NzV2MTAuNzVoMjkuODk4NDRsLTY2LjAxMTcyLDY2LjAxMTcybDcuNzI2NTYsNy43MjY1Nmw2Ni4wMTE3MiwtNjYuMDExNzJ2MjkuODk4NDRoMTAuNzV2LTQ4LjM3NXpNMjYuODc1LDQ4LjM3NXY5Ni43NWg5Ni43NXYtNjkuODc1bC0xMC43NSwxMC43NXY0OC4zNzVoLTc1LjI1di03NS4yNWg0OC4zNzVsMTAuNzUsLTEwLjc1eiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+") right center no-repeat;
        background-size: 14px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    padding: .5rem 5.4rem .5rem .5rem;
    margin: .8rem 0 0 0;
    background: var(--select-bg);
    border-color: var(--select-border);
    color: var(--text);
    &:focus {
        -webkit-border-radius: 0;
        border-radius: 0;
        outline: none;
        box-shadow: 0px 0px 1px 1px $link;
    }
}

.footer {
    .columns {
        padding: 7rem 2rem  7rem !important;
    }
}

#canvas-element {
    position: fixed;
    z-index: -1;
    width: 57%;
    width: 57vw;
    height: 95%;
    height: 95vh;
    display: none;
    @media (min-width: 750px) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }
}