// Variables
$link: #9bbbdc;
$dot: #ffa500;
$text: #dddddd;
$background: #1e1e1e;

$l-background: #ffffff;
$l-text: #222222;
$l-link: #881280;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

// Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="light"] {
    --link: #881280;
    --text: #222222;
    --background: #ffffff;
    --select-bg: #fafafa;
    --select-border: #c8c8c8;
    --highlight-color: #cfe8fc;
    --ascii-text: #222222;
}

html {
    --link: #5db0d7;
    --text: #dddddd;
    --background: #1e1e1e;
    --select-bg: #262626;
    --select-border: #4c4c4c;
    --highlight-color: #0c67b1;
    --ascii-text: #999999;
}

::selection {
    background: var(--highlight-color);
}

::-moz-selection {
    background: var(--highlight-color);
}

h1,
h2,
p,
a {
    &::-moz-selection {
        color: var(--text) !important;
    }

    &::selection {
        color: var(--text) !important;
    }
}

body {
    background: var(--background);
    font-family: 'Inter', sans-serif;
    transition: all .25s ease-in-out;

    p {
        color: var(--text);
        font-weight: 650;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: -0.018em;
    }
}

.app {
    transition: all .4s ease-in-out;

    >.row>.columns {
        padding: 2.5rem 2rem 2rem;

        @media (min-width: 768px) {
            padding: 5rem 4.65rem
        }
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;

    color: var(--text);
    font-weight: 700;
}

h2 {
    margin-bottom: 4rem;
    font-size: 3rem;
    top: 2rem;

    @media (min-width: 768px) {
        top: 4.65rem;
    }
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a,
p,
span,
ul {
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
}

a {
    color: var(--link);

    &:not(.description-link) {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background: $dot;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            top: 50%;
            transform: translateY(-36%);
            left: -15px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-out;
        }

        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.footer {
    clear: both;

    .columns {
        margin-left: 4%;
        text-align: center;

        @media (min-width: 750px) {
            text-align: left;
            padding: 0 4.65rem 2rem !important;
        }

        @media (min-width: 1200px) {
            padding: 0 4.65rem 2rem !important;
        }

        .notice {
            p {
                margin-top: 1.75rem;
            }
        }
    }
}

#canvas-element {
    position: fixed;
    z-index: -1;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    pointer-events: all;
    opacity: 0.2;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    @media screen and (max-width: 750px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 750px) {
        width: 50%;
        width: 50vw;
        height: 95%;
        height: 95vh;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        opacity: 1;
    }

    @media (min-width: 1300px) {
        width: 70%;
        width: 70vw;
        height: 100%;
        height: 100vh;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        width: 120%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }

    #codeArt {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }
}

#devtools-msg {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;

    &:before {
        content: "";
        background: var(--background);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.75;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--text);
        font-size: 7rem;
    }
}

.contact {
    position: relative;
    text-align: left;
    padding: 2rem;

    @media (min-width: 768px) {
        position: fixed;
        padding: 0;
        bottom: 1.7rem;
        right: 2.5rem;
        text-align: right;
    }

    h1 {
        margin: 2rem 0;

        @media (min-width: 768px) {
            display: none;
        }
    }

    h4 {
        margin-bottom: .5rem;
        font-size: 1.4rem;
    }

    p {
        margin-bottom: .5rem;
    }

    a {
        display: inline-block;

        @media (min-width: 768px) {
            margin-left: 0.75rem;
        }

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:before {
            content: none;
        }
    }

}

.main {
    position: relative;
    padding-bottom: 10rem;

    .title {
        display: table;
        font-size: 2rem;

        @media(min-width: 768px) {
            font-size: 2.5rem;
        }

        opacity: 0.5;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &.active {
            opacity: 1;
        }
    }

    .info {
        display: none;
        color: #666;
        padding: 2rem 0;

        p {
            font-weight: 300;
            margin-bottom: 1.75rem;

            strong {
                margin-right: .1rem;
            }
        }

        >a {
            display: block;

        }
    }
}

.codeart {
    margin: 10rem 0;
}

.music {
    position: relative;
    margin: 5rem 0;

    h3 {
        margin: 4rem 0 1.5rem 0;
    }

    p {
        font-weight: 300;
        margin-bottom: 4rem;
    }
}